body{
    margin:0;
    background:linear-gradient(135deg,#000000,#1a1a1a);
    color:#D4AF37;
    font-family:Georgia,serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.screen{
    text-align:center;
    width:90%;
    max-width:700px;
}

h1{
    font-size:48px;
    margin-bottom:15px;
    text-shadow:0 0 20px rgba(212,175,55,.6);
}

p{
    color:#f5deb3;
    font-size:20px;
}

input{
    width:240px;
    padding:14px;
    border:2px solid #D4AF37;
    background:#111;
    color:white;
    border-radius:40px;
    text-align:center;
    font-size:17px;
    outline:none;
}

button{
    padding:14px 35px;
    background:#D4AF37;
    color:black;
    border:none;
    border-radius:40px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
    box-shadow:0 0 20px gold;
}
#letter{

display:none;

background:rgba(20,20,20,.95);

border:2px solid #D4AF37;

border-radius:20px;

padding:40px;

width:80%;

max-width:750px;

margin:auto;

box-shadow:0 0 40px rgba(212,175,55,.5);

animation:fadeIn 1s;

line-height:1.9;

font-size:20px;

}

#letter h2{

text-align:center;

color:#D4AF37;

margin-bottom:25px;

}

#letter h3{

margin-top:35px;

color:#F5D76E;

}

@keyframes fadeIn{

from{

opacity:0;

transform:scale(.9);

}

to{

opacity:1;

transform:scale(1);

}

}
.sparkle{
position:fixed;
width:6px;
height:6px;
background:#FFD700;
border-radius:50%;
box-shadow:0 0 15px gold;
animation:fall 5s linear infinite;
z-index:-1;
}

@keyframes fall{
0%{
transform:translateY(-100px);
opacity:1;
}
100%{
transform:translateY(110vh);
opacity:0;
}
}





